*{
    margin: 0px;
    padding: 0px;
}


body{
    display: grid;
    place-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.signup{
    place-content: center;
    align-items: center;
    background-color: blueviolet;
    text-align: center;
    grid-row: 2/8;
    grid-column: 2/3;
}